<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="600" status="error" name="defaultLogConfig">
    <properties>
        <property name="app_name">serviceplus-wash</property>
        <property name="log_home">/export/Logs/${app_name}</property>
        <property name="business_log_size">100 MB</property>
        <property name="business_log_file_count">5</property>
        <property name="business_log_level">DEBUG</property>
        <property name="middleWare_log_size">10 MB</property>
        <property name="middleWare_log_file_count">5</property>
        <property name="middleWare_log_level">ERROR</property>
        <property name="patternLayout">%-d{yyyy-MM-dd HH:mm:ss} [%p] [%t] - %c.%M():%L - %m%n</property>
        <property name="encoding">UTF-8</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout charset="UTF-8" pattern="${patternLayout}"/>
        </Console>


        <RollingFile name="middleWare" fileName="${log_home}/middleWare.log"
                     filePattern="${log_home}/$${date:yyyy-MM-dd}/spring-%d{yyyyMMdd}-%i.log.gz">
            <PatternLayout charset="${encoding}" pattern="${patternLayout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="${middleWare_log_size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${middleWare_log_file_count}"/>
        </RollingFile>

        <RollingFile name="sql" fileName="${log_home}/sql.log"
                     filePattern="${log_home}/$${date:yyyy-MM-dd}/sql-%d{yyyyMMdd}-%i.log.gz">
            <PatternLayout charset="${encoding}" pattern="${patternLayout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="${business_log_size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${business_log_file_count}"/>
        </RollingFile>

        <RollingFile name="business" fileName="${log_home}/business.log"
                     filePattern="${log_home}/$${date:yyyy-MM-dd}/business-%d{yyyyMMdd}-%i.log.gz">
            <PatternLayout charset="${encoding}" pattern="${patternLayout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="${business_log_size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${business_log_file_count}"/>
        </RollingFile>

        <RollingFile name="no-specify" fileName="${log_home}/noSpecify.log"
                     filePattern="${log_home}/$${date:yyyy-MM-dd}/noSpecify-%d{yyyyMMdd}-%i.log.gz">
            <PatternLayout charset="${encoding}" pattern="${patternLayout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="${middleWare_log_size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${middleWare_log_file_count}"/>
        </RollingFile>

        <RollingFile name="startup" fileName="${log_home}/startup.log"
                     filePattern="${log_home}/$${date:yyyy-MM-dd}/startup-%d{yyyyMMdd}-%i.log.gz">
            <PatternLayout pattern="${patternLayout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="${business_log_size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${business_log_file_count}"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <AsyncLogger name="org.springframework" level="${middleWare_log_level}">
            <AppenderRef ref="middleWare"/>
        </AsyncLogger>

        <AsyncLogger name="com.jd.jmq" level="${middleWare_log_level}">
            <AppenderRef ref="middleWare"/>
        </AsyncLogger>

        <AsyncLogger name="com.jd.jsf" level="${middleWare_log_level}">
            <AppenderRef ref="middleWare"/>
        </AsyncLogger>

        <AsyncLogger name="com.jd.serviceplus.wash" level="${business_log_level}">
            <AppenderRef ref="business"/>
        </AsyncLogger>

        <AsyncLogger name="com.jd.serviceplus.wash.Application" level="${business_log_level}">
            <AppenderRef ref="startup"/>
        </AsyncLogger>

        <AsyncLogger name="com.jd.serviceplus.wash.dao" level="DEBUG">
            <AppenderRef ref="sql"/>
        </AsyncLogger>

        <Root level="INFO">
            <AppenderRef ref="no-specify"/>
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>
</Configuration>